.box {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: .25rem;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.05);
  p {
    margin-bottom: 0;
  }
}

.userdata {
  display: flex;
}

.userdata__image {
  height: 130px;
  width: auto;
}